{
  "env": {
    "browser": true,
    "node": true
  },
  "ignore": [
    "/package/lbm-frontend/**/*.js",
    "lbm_frontend/src/javascripts/vendor/polyfills/**/*.js"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
