$cdps-green: #007361;
$cdps-link-colour: #0360a6;
$cdps-highlight-colour: #e00530;
$cdps-focus-outline-colour: #ffd530;

$cdps-darker-grey: #1f1f1f;
$cdps-dark-grey: #323232;
$cdps-mid-grey: #ddd;
$cdps-light-grey: #eee;
